<div class="col-6" style="margin: 0; left:0;  background: #204117ec;">
    <div class="col-2">
        <div class="col-6 bottom-borders align-center" >
            <div class="col-2" style=""><img
                    style="height:100px;width:100px; padding-left:13%;" src="../Logo.jpg" alt=""></div>
            <div class="col-2"><label class="">We are dedicated to<br> make farming work for you.
                    <br> Ukulima bora, lishe bora, maisha bora!</label>
            </div>

        </div>
        <div class="col-6 bottom-borders " style="">
            <div class="col-3 align-center" style="">
                <ul>
                    <span>
                        <li id="titles"> Resources</li>
                    </span>
                    <li>Blogs</li>
                    <li>Guides</li>
                    <li>Glossary</li>
                    <li>Videos</li>
                </ul>
            </div>
            <div class="col-3 align-center" style="">
                <ul>
                    <span>
                        <li id="titles"> Socials </li>
                    </span>
                    <li>Instagram</li>
                    <li>LinkedIn</li>
                    <li>Tiktok</li>
                    <li>Facebook</li>
                    <li>Telegram</li>
                </ul>
            </div>
            <div class="col-3" style="">
                <ul>
                    <li>Organization</li>
                    <li>About Us</li>
                    <li>Our Team</li>
                    <li>Testimonials</li>
                    <li>Location</li>
                    <li>Partners</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="col-6 left-borders">

            <div class="col-1">
                <img src="../cows.jpg" alt="" style=" width:100%;">
            </div>
            <div class="col-4">
                <img src="../cows.jpg" alt="" style=" width:100%; height:240px;">
            </div>
        </div>


    </div>
</div>